# Local
local.properties
*.local.properties

# Build
build/
.gradle/
app/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Keystore (NUNCA subir al repo)
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class

# Kraken
kraken/node_modules/
kraken/reports/
